<!--TODO rename all reference variable to question-->
<div ui-view></div>
<div class="referenceInstance" ng-repeat="reference in object.references">
    <div class="ReferenceMetas">
        <div class="ReferenceTags">
            <ul class="ReferenceTagsList">
                <li ng-repeat="tag in reference.tags">
                    <a href="#">{{tag.name}}</a>
                </li>

            </ul>
        </div>
        <div class="clearfix"></div>

        <div class="lastUpdated">
            <span class="lastUpdatedTitle">Last updated </span>
            <span class="lastUpdatedText">{{reference.updatedAt}}</span>
        </div>

        <div class="clearfix"></div>


    </div>
    <div class="ReferenceTitle">
       <a ui-sref="reference.books({ referenceId: reference.id })">{{reference.title}}</a>
    </div>
    <div class="ReferenceDescriptionTrimmed">
        <span class="ReferenceDescriptionTrimmedText">{{reference.questionNotes | limitTo:130}}</span>
        <span class="ReferenceDescriptionSeparator"> ... </span>
        <span class="ReferenceDescriptionMoreBtn">
            <a ui-sref="reference.books({ referenceId: reference.id })" >(more)</a>
        </span>
    </div>
    <div class="clearfix"></div>
    <div class="ReferencesSummary">
        <ul>
            <li class="replySummary">
                <a ui-sref="reference.books({ referenceId: reference.id })">
                <span  class="icon icon-open-book"></span>
                    {{(reference.summary.book) ? reference.summary.book : 0}} <span>{{(reference.summary.book > 1 || reference.summary.book == null) ? 'Books' : 'Book'}}</span>
                </a>
            </li>
            <li class="replySummary">
                <a ui-sref="reference.website({ referenceId: reference.id })">
                    <span  class="icon icon-earth-globe"></span>
                    {{(reference.summary.website) ? reference.summary.website : 0}} <span>{{(reference.summary.website > 1 || reference.summary.website == null) ? 'Websites' : 'Website'}}</span>
                </a>
            </li>
            <li class="replySummary">
                <span  class="icon icon-youtube-play-button"></span>
                <a ui-sref="reference.videos({ referenceId: reference.id })">
                    {{(reference.summary.video) ? reference.summary.video : 0}}  <span>{{(reference.summary.video > 1    ||  reference.summary.video == null) ? 'Videos' : 'video'}}</span>
                </a>
            </li>
            <li class="replySummary">
                <span  class="icon icon-atom-symbol"></span>
                <a ui-sref="reference.paper({ referenceId: reference.id })">
                    {{(reference.summary.scientificPaper) ? reference.summary.scientificPaper : 0 }}  <span>{{(reference.summary.scientificPaper > 1  || reference.summary.scientificPaper == null) ? 'scientific Papers' : 'scientific Paper'}}</span>
                </a>
            </li>


        </ul>


    </div>

    <div class="ReferenceActions">
        <div class="innerReferenceActins">
        <span class="bookmarkReferenceBtn icon icon-bookmark-black-shape">

        </span>

            <div ng-click="openCommentsModal(reference)" class="btn AddReferenceBtn">
                <span class="icon icon-add-document"></span>
                <span>Add Reference</span>
            </div>

            <div class="followReference">
                <span class="followText"><a href="#">Follow</a></span>
                <span class="followCount">3</span>
            </div>
        </div>



    </div>
    <hr>
</div>
