
/*Global Styles*/
ul{
  padding:0px;
}
/*end of Global Styles*/
/* Logged in site Header style */
.LoggedInSiteHeader {
  background-color: #fff;
  overflow: hidden;
  padding-left:50px;
  padding-right:50px;
  min-height: 50px;
  border-top: 2px solid #ff7f06;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}

/* Style the links inside the navigation bar */
.LoggedInSiteHeader .header-content li{
  float: right;
  display: inline-block;
  padding: 0px 16px;
  border-left:1px solid #f7f7f7;


}
.LoggedInSiteHeader .header-content li a {

  color: #a7a5a5;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto Slab";
}

.LoggedInSiteHeader .header-logo a {
  float: left;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size:22px;
  font-family: 'Amiri', serif;
  color: #ff7f06;
}



/* Add a color to the active/current link */
.LoggedInSiteHeader .header-content a.active {
  color: #ff7f06;
}


.header{
  margin:0px 6%;
}

.icon-title{
  margin-left:5px;
}

.LoggedInSiteHeader .header-content .icon:hover{
  color:#ff7f06;
  text-decoration: none!important;

}

.LoggedInSiteHeader .header-content .icon.active{
  color:#ff7f06;

}

/*Page Wrapper anything but the navbar, just giving margin top*/
.contentWrapper{
  margin-top:20px;
}


/*Styling a Reference Object*/

.lastUpdated .lastUpdatedTitle, .ReferenceTagsTitle{
  color: #a0a0a0;
  font-size: 13px;
  font-weight: bold;
  font-family: "Roboto Slab";
}
.lastUpdated .lastUpdatedText,.ReferenceTagsList li a{
  color: #a0a0a0;
  font-size: 13px;
  font-family: "Roboto Slab";
}

.ReferenceTagsList li{
  list-style: none;
  display: inline-block;
  background-color: #f4f4fa;
  padding: 3px 8px;
  border-radius: 16px;
}

.ReferenceTitle{
  margin-top: 10px;
}

.ReferenceTitle a{
  color: #262626;
  font-size: 18px;
  font-family: "Roboto Slab";
  font-weight: bold;
}


.ReferenceTitle a:hover{
  color: #262626;

}
.ReferenceDescriptionTrimmedText, .ReferenceDescriptionSeparator{
  color: #a0a0a0;
  font-size: 15px;
  font-family: "Roboto Slab";
  font-weight: 300;
  word-wrap: break-word;
}

.ReferenceDescriptionMoreBtn{
  color: #009199;
  font-size: 15px;
  font-family: "Roboto Slab";
  font-weight: normal;
}

.ReferencesSummary{
  margin-top: 5px;
}
.ReferencesSummary ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px 0 0;
}
a.icon:hover{
  text-decoration: none!important;
}

/*.BooksSummary .icon.icon-open-book {*/
  /*color: #a0a0a0;*/
  /*font-family: "Roboto Slab";*/
  /*font-weight: bold;*/
  /*font-size: 13px;*/
  /*vertical-align: sub;*/
/*}*/

.replySummary .icon{
  color: #a0a0a0;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 13px;
  vertical-align: sub;
}

/*.VideosSummary .icon.icon-youtube-play-button {*/
  /*color: #a0a0a0;*/
  /*font-family: "Roboto Slab";*/
  /*font-weight: bold;*/
  /*font-size: 13px;*/
  /*vertical-align: sub;*/
/*}*/

/*.BooksSummary , .VideosSummary{*/
  /*color: #a0a0a0;*/
  /*font-family: "Roboto Slab";*/
  /*font-size: 13px;*/
/*}*/

.replySummary{
  color: #a0a0a0;
  font-family: "Roboto Slab";
  font-size: 13px;
}

/*.BooksSummary a , .VideosSummary a{*/
  /*color: #a0a0a0;*/
  /*font-family: "Roboto Slab";*/
  /*font-size: 13px;*/
/*}*/

.replySummary a{
  color: #a0a0a0;
  font-family: "Roboto Slab";
  font-size: 13px;
}

/*.BooksSummary a:hover , .VideosSummary a:hover{*/
  /*color: #a0a0a0;*/
  /*font-family: "Roboto Slab";*/
  /*font-size: 13px;*/
/*}*/

.replySummary a:hover{
  color: #a0a0a0;
  font-family: "Roboto Slab";
  font-size: 13px;
}



.icon-bookmark-black-shape{
  color: #a0a0a0;
  font-family: "Roboto Slab";
  font-size: 21px;
  transition: all 0.25s ease-in-out;
}
.icon-bookmark-black-shape:hover{
  color: #ccc8c8;
}

.bookmarkReferenceBtn{
  vertical-align: -webkit-baseline-middle;
}

.AddReferenceBtn{
  background-color: #e3f3f4;
  color: #04565c;
  font-size: 13px!important;
  font-family: "Roboto Slab";
  width: 141px;
  height:35px;
  border-radius: 0px!important;
  margin-left: 10px;
  transition: all 0.25s ease-in-out;
}
.AddReferenceBtn:hover, .AddReferenceBtn:focus, .AddReferenceBtn:active, .AddReferenceBtn::selection{
  border:1px solid #04565c!important;
}

.AddReferenceBtn .icon-add-document{
  vertical-align: sub;
  margin-right: 5px;
}

.followReference{
  display: inline-block;
  margin: 0px 10px;
}

.followReference .followText a{
  color: #a0a0a0;
  font-family: "Roboto Slab";
  font-size: 13px;
}



.followReference .followCount{
  background-color: #e4e4e4;
  color: #676565;
  font-size: 13px;
  font-family: "Roboto Slab";
  font-weight: bold;
  padding:2px 5px 2px 4px;
}

/* start 'enter' transition */
[ui-view].ng-enter {
   /* transition on enter for .5s */
   transition: .5s;

   /* start with opacity 0 (invisible) */
   opacity: 0;
 }

/* end 'enter' transition */
[ui-view].ng-enter-active {
   /* end with opacity 1 (fade in) */
   opacity: 1;
 }


.hideMe{
  display: none;
}
.showMe{
  display: block;
}