<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="elfehres" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="elfehres" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="elfehres" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="elfehres" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>الفهرس</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <!--<link rel="stylesheet" href="assets/css/LoggedInSiteHeaderWebFontsStyle.css">-->
  <!--<link rel="stylesheet" href="assets/css/LoggedInSiteMainContentWebFontsStyle.css">-->
  <link rel="stylesheet" href="assets/css/elfehresIcons.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <!--importing bootstrap-->
  <script src="bower_components/angular-bootstrap/ui-bootstrap-csp.css"></script>

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Amiri:700" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <!-- Theme included stylesheets -->
  <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.2.6/quill.bubble.css" rel="stylesheet">



</head>
<body>

<div ng-controller="mainController" class="LoggedInSiteHeader" id="myTopnav" >
  <div class="header">
<div class="header-logo">
        <a ui-sref="home">الفهرس</a>
      </div>
      <div class="header-content">
        <ul>

          <li ng-class="(isLoggedIn) ? 'showMe' : 'hideMe' ">
            <a href="#userProfile"><img width="22" height="22" src="assets/imgs/userImage.png"/>
              <span class="icon-title">Belal</span>
            </a>
          </li>

          <li ng-class="(isLoggedIn) ? 'showMe' : 'hideMe' ">
            <a href="#notification" class="icon-turn-notifications-on-button">
              <span class="icon-title">Notification</span>
            </a>
          </li>


          <li>
          <a ui-sref="references" class="icon icon-books-stack " ui-sref-active-eq="active">
            <span class="icon-title">References</span>
          </a>
        </li>

          <li>
          <a href="javascript:void(0)" ng-click="requestReferenceModal()" class="icon icon-book-and-magnifier-with-question-sign">
            <span class="icon-title" >Ask for References</span>
          </a>
        </li>

        </ul>
      </div>
  </div>

</div>

<div ng-controller="mainController" class="LoggedInSiteHeader" id="guest" ng-class="(!isLoggedIn) ? 'showMe' : 'hideMe' ">
  <div class="header">
<div class="header-logo">
        <a ui-sref="home">الفهرس</a>
      </div>
      <div class="header-content">
        <ul>

          <li>
            <a href="/signin.html"><img width="22" height="22" src="assets/imgs/userImage.png"/>
              <span class="icon-title">Login</span>
            </a>
          </li>

          <li>
          <a ui-sref="references" class="icon icon-books-stack " ui-sref-active-eq="active">
            <span class="icon-title">References</span>
          </a>
        </li>

          <li>
          <a ui-sref="requestReference" class="icon icon-book-and-magnifier-with-question-sign">
            <span class="icon-title">Ask For References</span>
          </a>
        </li>

        </ul>
      </div>
  </div>

</div>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<div class="contentWrapper">
  <div class="container-fluid">
    <div class="row pageRow">
      <div class="col-md-3 sidebarColumn">

      </div>
      <div class="col-md-5 col-md-push-1 mainContent">
        <div ui-view></div>

      </div>
    </div>
  </div>

</div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>

<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>


  <!--importing moment library for dates-->
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
  <script src="bower_components/moment/min/locales.min.js"></script>

<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>-->
<script src="bower_components/angular-animate/angular-animate.min.js"></script>

  <!--Angular ui router-->
  <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!--importing bootstrap-->
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>


  <script src="app.js"></script>
  <script src="requestReferencesComponent/requestReferenceService.js"></script>

  <script src="elfehresMainModule/mainModule.js"></script>


  <script src="home/home.js"></script>
  <script src="home/homeService.js"></script>
  <script src="home/displaySingleReferenceModalComponent.js"></script>

  <script src="singleReference/singleReference.js"></script>
  <script src="singleReference/singleReferenceService.js"></script>


  <script src="references/bookReferencesComponent/bookReferencesModule.js"></script>
  <script src="references/bookReferencesComponent/bookReferenceService.js"></script>

  <script src="references/scientificPaperReferenceModule/sciencePaperReferencesModule.js"></script>

  <script src="references/websiteReferenceModule/websiteReferencesModule.js"></script>

  <script src="requestReferencesComponent/requestReferences.js"></script>


  <script src="references/videoReferencesModule/videoReferenceModule.js"></script>

  <!-- Main Quill library -->
  <script src="https://cdn.quilljs.com/1.2.6/quill.js"></script>
  <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>



</body>
</html>
