<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="signIn" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="signIn" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="signIn" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="signIn" class="no-js"> <!--<![endif]--><head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-csp.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    .loginBtn{
        color: #333;
        background-color: #fff;
        border: 1px solid #333;
        width: 100px;
        padding: 5px;
        margin: 5px;
    }

    .SigninForm{
        width: 500px;
        margin-top: 200px;
        background: white;
        padding: 25px;
        box-shadow: 1px 0px 20px 0px #e9e9e9;
    }
</style>

</head>
<body ng-controller="SignInController">

<div class="container SigninForm">
    <h2>We Were waiting for you </h2>
    <div class="form-group">

            <label for="email"><b>email</b></label>
            <input class="form-control" type="email" id="email" placeholder="Enter email" name="email" required>
        </div>

        <div class="form-group">

            <label for="password"><b>Password</b></label>
            <input class="form-control" type="password" id="password" placeholder="Enter Password" name="psw" required>
        </div>

        <button ng-click="signIn()" class="loginBtn">Login</button>
        <input type="checkbox" checked="checked"> Remember me<br>
    <span class="psw">Forgot <a href="#">password?</a></span>

</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script src="bower_components/angular/angular.js"></script>

<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>


<!--importing bootstrap-->
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>



<script src="assets/singInAngularModule.js"></script>
</body>
</html>