<div class="row">

    <div class="referenceInstance margin-top-60">
        <div class="ReferenceMetas">
            <div class="ReferenceTags">
                <ul class="ReferenceTagsList">
                    <li ng-repeat="tag in object.question.tags">
                        <a href="#">{{tag.name}}</a>
                    </li>

                </ul>
            </div>

            <div class="clearfix"></div>

            <div class="lastUpdated">
                <span class="lastUpdatedTitle">Last updated </span>
                <span class="lastUpdatedText">{{object.question.updatedAt}}</span>
            </div>
        </div>
        <div class="SingleReferenceTitle">
            {{object.question.title}}
        </div>
        <div class="ReferenceDescriptionTrimmed">
            <span id="questionNotes" class="ReferenceDescription"></span>

            </span>
        </div>
        <div class="clearfix"></div>
        <!--<div class="ReferencesSummary">-->
        <!--<ul>-->
        <!--<li class="replySummary" >-->
        <!--<span  class="icon icon-open-book"></span>-->
        <!--&lt;!&ndash;TODO fetch the correct number of books and correct number of other references based on the new json structure&ndash;&gt;-->
        <!--{{object.question.summary.book}} <span>{{(object.question.summary.book> 1) ? 'Books' : 'Book'}}</span>-->
        <!--</li>-->
        <!--<li class="replySummary">-->
        <!--<span  class="icon icon-youtube-play-button"></span>-->
        <!--&lt;!&ndash;TODO fetch the correct number of books and correct number of other references based on the new json structure&ndash;&gt;-->

        <!--{{object.question.replies.videos.length}}  <span>{{(object.question.replies.videos.length > 1) ? 'Videos' : 'video'}}</span>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->

        <div style="margin-top: 15px" class="ReferenceActions">
            <div class="innerReferenceActins">
        <span class="bookmarkReferenceBtn icon icon-bookmark-black-shape">

        </span>

                <div ng-click="openCommentsModal(reference)" class="btn AddReferenceBtn">
                    <span class="icon icon-add-document"></span>
                    <span>Add Reference</span>
                </div>

                <div class="followReference">
                    <span class="followText"><a href="#">Follow</a></span>
                    <span class="followCount">3</span>
                </div>
            </div>

        </div>
    </div>
</div>

<hr>
<div class="row">

    <!--<div class="searchBar">-->
    <!--<div class="form-group">-->
    <!--<input type="text" style="width: 70%;height: 35px;display: inline-block;" placeholder="Search for a book " class="form-control">-->
    <!--<button class="btn searchForBookBtn"> search for a book</button>-->
    <!--</div>-->

    <!--</div>-->
    <div class="col-xs-12">
        <ul class="refereceTypesList">

            <li class="refereceTypes replySummary" ui-sref-active-eq="active">
                <a ui-sref="reference.books({ referenceId: object.question.id })">
                    <span  class="icon icon-open-book"></span>
                    <span  class="type-count">{{(object.question.summary.book) ?  object.question.summary.book  :  0}}</span>
                    Books
                </a>
            </li>

            <li class="refereceTypes replySummary" ui-sref-active-eq="active">
                <a ui-sref="reference.website({ referenceId: object.question.id })">
                    <span  class="icon icon-earth-globe"></span>
                    <span  class="type-count">{{(object.question.summary.website) ?  object.question.summary.website  :  0}}</span>
                    Websites
                </a>
            </li>


            <li class="refereceTypes replySummary" ui-sref-active-eq="active" >
                <a ui-sref="reference.videos({ referenceId: object.question.id })" >
                    <span  class="icon icon-youtube-play-button"></span>
                    <span  class="type-count">{{(object.question.summary.video) ? object.question.summary.video : 0}}</span>
                    Videos
                </a>
            </li>


            <li class="refereceTypes replySummary" ui-sref-active-eq="active">
                <a ui-sref="reference.paper({ referenceId: object.question.id })" >
                    <span  class="icon icon-atom-symbol"></span>
                    <span  class="type-count">{{(object.question.summary.scientificPaper) ?  object.question.summary.scientificPaper  :  0}}</span>
                    Scientific Articles
                </a>
            </li>

        </ul>
    </div>
</div>
<ui-view></ui-view>

<style>
    .active{
        border-bottom:3px solid #ff7f06!important;
    }
    .type-count{
        /*background: #e9e6e6;*/
        padding: 3px;
        border-radius: 12px;
        margin: 0 3px 0 0;
    }

    .SingleReferenceTitle {
        color: #262626;
        font-size: 23px;
        font-family: "Roboto Slab";
        font-weight: bold;
    }
    .ReferenceDescription{
        color: #333;
        font-size: 15px;
        font-family: "Roboto Slab";
        font-weight: 400;
        line-height: 1.4;
        word-wrap: break-word;
    }
    .margin-top-60{
        margin-top: 60px;
    }
    .searchForBookBtn{
        color: #333;
        background-color: #fff;
        border: 1px solid #333;
    }


    .icon-thumb-up{
        font-size: 26px;
        color: darkgreen;
    }

    .icon-dislike-thumb{
        font-size: 26px;
        color: darkred;
    }
    .vote{
        font-size: 20px;
    }
    .voting{
        display: inline-block;
        width: 80px;
    }
    .refereceTypesList{
        list-style: none;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        /*max-width: 400px;*/
        margin: auto;
    }
    .refereceTypes{
        display: inline-block;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .refereceTypes:hover{
        border-bottom: 3px solid #ff7f06!important;
    }
    .refereceTypes a{
        color: #333;
        text-decoration: none;
    }
    .refereceTypes a:hover{
        color: #333;
    }


</style>