<div class="askForQuestionWrapper">
    <div class="Header">
        <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>

        <span   id="modal-title">Ask For References</span>
    </div>
    <hr>
    <div class="form-group">

        <label for="questionTitle" class="formLabel"><b>Enter your Question</b></label>
        <input class="form-control" type="text" id="questionTitle" placeholder="Enter Your Question" name="Question"
               required>

    </div>

    <div class="form-group">

        <label for="editor-questionDetails" class="formLabel"><b>Enter Question Details</b></label>
        <div id="scrolling-container">
            <div id="editor-questionDetails">

            </div>
        </div>

    </div>

    <hr>


    <div>
        <tags-input class="questionTags" ng-model="$ctrl.tags"></tags-input>
    </div>

<div class="modal-footer">
    <div class="form-group" style="margin-bottom: 0px">
        <button ng-click="$ctrl.askForReferences()" class="btn submitQuestionBtn">Ask for seferences</button>
    </div>
</div>



</div>

<style>
    @import "../assets/css/ngTagsInput.min.css";

    .askForQuestionWrapper {
        padding: 20px;
        border-top: 2px solid #ff7f06;
    }

    .submitQuestionBtn{
        background-color: #e3f3f4;
        color: #04565c;
        font-size: 14px!important;
        font-family: "Roboto Slab";
        width: 141px;
        height: 35px;
        border-radius: 0px!important;
        transition: all 0.25s ease-in-out;
    }

    #modal-title{
        color: #262626;
        font-size: 18px;
        font-family: "Roboto Slab";
        font-weight: bold;

    }
    .formLabel{
        color: #a0a0a0;
        font-size: 15px;
        font-family: "Roboto Slab";
    }

    #editor-questionDetails {
        height: 200px;
    }

    /*  start Tags Styling*/
    .questionTags .tags {
        background-color: #fff;
        border:none;
        box-shadow: none!important;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .questionTags .tags.focused {
        box-shadow: none;
    }

    .questionTags .tags .tag-item {
        background: #f4f4fa;
        padding: 0px 8px;
        border-radius: 16px;
        color: #a0a0a0;
        font-size: 13px;
        font-family: "Roboto Slab";
    }

    .questionTags .tags .tag-item.selected {
        background: #d9534f;
        border: 1px solid #d43f3a;
        border-radius: 4px;
        color: #fff;
    }

    .questionTags .tags-input .tags .tag-item .remove-button{
        color: #fff!important;
        font-weight: 100!important;
    }

    .questionTags .tags-input .tags .tag-item .remove-button:active{
        color: #0a565c!important;
    }

    .questionTags .tags .tag-item button {
        background: transparent;
        color: #000;
        opacity: .4;
    }

    .questionTags .tags-input .tags .tag-item{
        padding: 0px 10px;
    }


    /*end of tags styling*/
</style>