@charset "UTF-8";

@font-face {
  font-family: "untitled-font-6";
  src:url("../webFonts/elfehresIcons/fonts/untitled-font-6.eot");
  src:url("../webFonts/elfehresIcons/fonts/untitled-font-6.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/elfehresIcons/fonts/untitled-font-6.woff") format("woff"),
    url("../webFonts/elfehresIcons/fonts/untitled-font-6.ttf") format("truetype"),
    url("../webFonts/elfehresIcons/fonts/untitled-font-6.svg#untitled-font-6") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-6" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-6" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb-up:before {
  content: "\aaa";
}
.icon-add-document:before {
  content: "\61";
}
.icon-book-and-magnifier-with-question-sign:before {
  content: "\62";
}
.icon-bookmark-black-shape:before {
  content: "\63";
}
.icon-books-stack:before {
  content: "\64";
}
.icon-line-chart:before {
  content: "\65";
}
.icon-open-book:before {
  content: "\66";
}
.icon-reference-icon:before {
  content: "\67";
}
.icon-turn-notifications-on-button:before {
  content: "\68";
}
.icon-youtube-play-button:before {
  content: "\69";
}
.icon-dislike-thumb:before {
  content: "\6a";
}
.icon-earth-globe:before {
  content: "\6b";
}
.icon-atom-symbol:before {
  content: "\6c";
}
