

/*Book Stack Web Font Icon Style*/

@charset "UTF-8";

@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/bookStack/fonts/untitled-font-5.eot");
    src:url("../webFonts/bookStack/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/bookStack/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/bookStack/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/bookStack/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-books-stack:before {
    content: "\61";
}
/*.icon-books-stack:hover{*/
    /*color:#ff7f06;*/
/*}*/

.icon-books-stack{
    color:#a7a5a5;
    font-size: 14px;
}

/*End of Book Stack Web Font Icon*/

/*Start of Request Reference */

@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/bookWithMagn/fonts/untitled-font-5.eot");
    src:url("../webFonts/bookWithMagn/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/bookWithMagn/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/bookWithMagn/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/bookWithMagn/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-request-reference:before {
    content: "\62";
}
.icon-request-reference {
    color:#a7a5a5;
    font-size: 14px;
}
/*End of Request Reference*/


/*Start of Notification Icon*/

@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/notification/fonts/untitled-font-5.eot");
    src:url("../webFonts/notification/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/notification/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/notification/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/notification/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
    content: "\63";
}
.icon-notification {
    color:#a7a5a5;
    font-size: 14px;

}
/*End of Notification icon*/
