
/*Start of Add Document Icon*/
@charset "UTF-8";

@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/addDocument/fonts/untitled-font-5.eot");
    src:url("../webFonts/addDocument/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/addDocument/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/addDocument/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/addDocument/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-document:before {
    content: "\64";
}
/*End of Add Document icon*/

/*Start of Bookmark Icon*/

@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/bookmark/fonts/untitled-font-5.eot");
    src:url("../webFonts/bookmark/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/bookmark/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/bookmark/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/bookmark/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark-black-shape:before {
    content: "\65";
}


/*End of Bookmark Icon*/

/*Start of Youtube Play Button icon*/

@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/youtubePlayButton/fonts/untitled-font-5.eot");
    src:url("../webFonts/youtubePlayButton/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/youtubePlayButton/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/youtubePlayButton/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/youtubePlayButton/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-youtube-play-button:before {
    content: "\66";
}

/*End of Youtube Play Button Icon*/

/*Start of Open Book icon*/
@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/openBook/fonts/untitled-font-5.eot");
    src:url("../webFonts/openBook/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/openBook/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/openBook/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/openBook/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-open-book:before {
    content: "\aa";
}
/*End of Open Book Icon*/

/*Start of LineChart icon*/
@font-face {
    font-family: "untitled-font-5";
    src:url("../webFonts/lineChart/fonts/untitled-font-5.eot");
    src:url("../webFonts/lineChart/fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../webFonts/lineChart/fonts/untitled-font-5.woff") format("woff"),
    url("../webFonts/lineChart/fonts/untitled-font-5.ttf") format("truetype"),
    url("../webFonts/lineChart/fonts/untitled-font-5.svg#untitled-font-5") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-5" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-5" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-line-chart:before {
    content: "\ab";
}

/*End of Line Chart Icon*/
