<div class="row bookReferenceswrapper" ng-repeat="video in object.question.replies.video">
    <div class="row BookReferencesSection" >
        <div class="row">
            <a href="#userProfile"><img width="50" height="50" src="assets/imgs/userImage.png"/>
                <span class="icon-title BookReferenceOwner"> {{video.user.name}}, Software Engineer@smarttera3s</span>
            </a>
        </div>
        <div class="row referenceInstance">
            <div class="col-md-1 col-xs-12">
                <div class="voting ">
                    <div class="icon-thumb-up"></div>
                    <div class="vote">
                        +3
                    </div>
                    <div class="icon-dislike-thumb"></div>
                    <div class="icon-bookmark-black-shape BookmarkBook"></div>

                </div>
            </div>

            <div class="col-md-11 col-xs-12">
                <div class="bookInstance">

                    <div class="BookData">
                        <ul>
                            <li>
                                <div class="bookTitle">
                                    <div><a  href="{{video.reply.url}}" target="_blank">{{video.reply.title}}</a></div>
                                </div>
                            </li>

                            <li>
                                <div class="From-TO">
                                    <div>Start at {{video.reply.startAt}} - End at {{video.reply.endAt}}</div>
                                </div>
                            </li>

                            <li>
                                <div>Notes</div>
                                <div class="video-notes">
                                    <div> {{video.reply.videoNotes}} </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<style>
    .BookReferencesSection{
        margin: 10px 0 80px 0;
    }
    .bookReferenceswrapper{
        margin: 30px 0 20px 0;
    }
    .BookReferenceOwner{
        font-size: 15px;
        color: #333;
        font-family: "Roboto Slab";

    }
    .bookInstance{
        display: inline-block;
        margin: 0px 10px;
    }

    .BookData{
        display: inline-block;
        position: relative;
    }
    .By{
        font-size: 13px;
        color: #a0a0a0;
    }
    #bookAuthor{
        font-size: 13px;
        color: #333333;
    }
    .BookData ul li{
        list-style: none
    }

    .bookTitle a {
        color: #333;
        color: #333;
        font-size: 17px;
        font-family: roboto-slab;
        font-weight: bold;
    }
    .referenceInstance{
        margin-top: 20px;
    }
</style>